body{
    background: #0A2133;
    color: #d5e8c8;
}
.container{
    padding-top:5vh;
    padding-bottom:5vh;
    padding-right:10vw;
    padding-left:10vw;
    background: green;
    color: yellowgreen;
    text-align: center;
    margin: 10px;
    border-radius: 7px;
}

.row{
    display: flex;
    justify-content: space-around;
}

.container-list{
    background-color: yellowgreen;
    color: green;
    margin-right: 5vw;
    margin-left: 5vw;
    padding:15px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border-radius: 10px;
    
}
